@import url('https://fonts.googleapis.com/css2?family=Lateef&family=Padauk:wght@400;700&display=swap');
*{
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
body{
    background-color: #fcfcfc;
    /* padding: 5px; */

}
.footer{
    position: relative;
    top: 30%;
}
.heading h2{
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 12%;
}

.content {
    
    width: 80%;
    margin: auto;}
.content div{
    font-weight: 200;
    float: left;
    width: 25%;
    /* padding-top: 10px; */
    width: 25%;
}
div>h4{
    font-size: 25px;
    font-weight: bold;
}
p>a{
    text-decoration: none;
    font-family: serif;
    color: #000000;
    padding: 0 , 10px;
}
footer{
    margin-top: 35px;
    text-align: center;
    font-family:sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.footer hr {
    margin-bottom: 25px;
}